<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Matthew Hurst Photography</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="https://use.fontawesome.com/83846d0784.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/page.css">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-100832177-1', 'auto');
            ga('send', 'pageview');              
        </script>
    </head>
    <body>
            <div class="container">
                    <div class="row header">
            <% if (!currentUser) { %>
                <div class="col-lg-6 headertext"><a id="mainlink" href="/"><i class="fa fa-camera-retro" aria-hidden="true"></i> Matthew Hurst</a></div>            
            <% } else { %>
                <div class="col-lg-6 headertext"><a id="mainlink" href="/"><i class="fa fa-camera-retro" aria-hidden="true"></i> Matthew Hurst - Admin</a></div>            
            <% } %>
                <div class="col-lg-4">
                            <!--<a class="sociallink" href="#">Gallery</a>-->
                            <a class="sociallink" href="https://www.redbubble.com/people/lanithro/shop?asc=u" target="_blank">Shop</a>
                            <a class="sociallink" href="/about">About</a>
                            <% if (currentUser) { %>
                                <a class="sociallink" href="/upload">Upload</a>
                            <% } %>
                        </div>
                        <div class="col-lg-2 socialicons">
                            <a href="https://www.facebook.com/matthewhurst91" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/matthewshurst" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                            <a href="mailto:matthew@mshurst.co.uk" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                            <a href="https://www.flickr.com/photos/matthewshurst/" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a>
                        </div>
                    </div>

