<% include ./partials/header %>

<div class="jumbotron">
    <h2>Edit</h2>

    <div class="thumbnail">

    <img class="image" src="https://s3.eu-west-1.amazonaws.com/mshurst-photography-thumbs/resized-<%=item.image%>" />
    

    </div>
    <form method="POST" action="/<%=item.id%>?_method=PUT">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" value="<%=item.title %>" name="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" type="text" value="<%=item.description %>" name="description">
        </div>
        <div class="radio-inline">
            <% if (item.orientation === "portrait") { %>
                <label><input type="radio" name="optorientation" value="portrait" checked="checked">Portrait</label>
            <% } else { %>
                <label><input type="radio" name="optorientation" value="portrait">Portrait</label>
            <% } %>
        </div>
        <div class="radio-inline">
            <% if (item.orientation === "portrait") { %>
                <label><input type="radio" name="optorientation" value="landscape">Landscape</label>
            <% } else { %>
                <label><input type="radio" name="optorientation" value="landscape" checked="checked">Landscape</label>
            <% } %>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save Changes</button>
        </div>    
    </form>

</div>

<% include ./partials/footer %>