    <% include ./partials/header %>
    
    <script src="client.js"></script>
    <% if (currentUser) { %>
        <h3 class="sociallink" >Photos : <%=images.length %></h3>
    <% } %>
    <div class="jumbotron" >
        <div id="photocontainer">
            
            <div class="row">
                
                <% images.forEach(function(image) { %>

                    <% var classList;

                    if (image.orientation === "portrait") {
                        classList = "col-lg-3";
                    } else {
                        classList = "col-lg-6";
                    }

                    %>

                    <div class="<%=classList%>">
                        <div class="thumbnail">
                            <a href="https://s3.eu-west-1.amazonaws.com/mshurst-photography-input/<%=image.image %>" data-lightbox="<%=image.image %>">
                                <img class="img-gallery" src="https://s3.eu-west-1.amazonaws.com/mshurst-photography-thumbs/resized-<%=image.image %>" />
                            </a>
                            
                            <div class="caption">
                                <h3><%=image.title%></h3>
                                <h4><%=image.description %></h4>
                                
                            </div>
                            <% if (currentUser) { %>
                            <div class="row">
                                <div class="col-lg-6 text-center">
                                    <button class="btn btn-warning" id="Edit"><a href="/edit/<%=image.id %>">Edit</a></button>
                                </div>
                                <div class="col-lg-6 text-center">
                                    <form method="POST" action="/<%=image.id%>?_method=DELETE">
                                    <button class="btn btn-danger" id="Delete">Delete</button>
                                    </form>
                                </div>
                            </div>
                            <% } %>
                        </div>                        
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>