<% include ./partials/header %>
    <div class="jumbotron" >
        <div class="row" id="maincontent"></div>
        <h2>Upload Photo</h2>

        <input type="file" id="file-input">
        <p id="status">Please select a file</p>
        <img id="preview" style="border:1px solid gray;width:300px;" src="">

        <form method="POST" action="/create">
            <input type="hidden" id="image-url" name="image" value="">
            <div class="form-group">
                <label for="title">Title:</label>
                <input name="title" type="text" class="form-control" id="title">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input name="description" type="text" class="form-control" id="description">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>       
    </div>

    <script>

            var fileToSend, fileTypeToSend, signedRequestToSend, urlToSend;

            function uploadFile(file, fileType, signedRequest, url) {
                const xhr = new XMLHttpRequest();
                xhr.open("PUT", signedRequest);
                xhr.setRequestHeader("Content-Type", fileType);
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            
                            document.getElementById('image-url').value = url;
                            document.getElementById("preview").src = url;
                        } else {
                            alert("Could not upload file");
                        }
                    }
                };
                xhr.send(file);
            }

            function getSignedRequest(file) {
                const xhr = new XMLHttpRequest();
                xhr.open("GET", '/sign-s3?file-name=' + file.name + '&file-type=' + file.type);
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            //document.getElementById('preview').src = response.url;
                            const response = JSON.parse(xhr.responseText);
                            fileToSend = file;
                            fileTypeToSend = file.type;
                            signedRequestToSend = response.signedRequest;
                            urlToSend = response.url;

                            uploadFile(fileToSend, fileTypeToSend, signedRequestToSend, urlToSend);
                        } else {
                            alert("Could not get signed URL");
                        }
                    }
                };
                xhr.send();
            }

            function initUpload() {
                const files = document.getElementById("file-input").files;
                const file = files[0];
                if (file == null) {
                    return alert("No file selected");
                }
                getSignedRequest(file);
            }

            (() => {
                document.getElementById("file-input").onchange = initUpload;

                
            })();
    </script>


<% include ./partials/footer %>