body {
    background : #4b4237;
    font-family: 'Lato';
}


.jumbotron {
    background : #ede7d9;
}

.header {
    font-weight : 700;
    font-size : 3em;
    color : #d5a021;
}

.sociallink {
    font-size : 0.75em;
    margin-top: 10px;
    margin-left : 20px;
}

.socialicons {
    font-size : 0.75em;
    margin-top: 10px;
}



a:visited {
    color : #ede7d9;
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color : #ede7d9;
}

a:link {
    text-decoration: none;
    color : #ede7d9;
}

a {
    color : #ede7d9;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color : #d5a021;
}

#mainlink {
    color : #d5a021;
    /*border-right : 3px solid #ede7d9;*/
    padding-right: 10px;
}

.description {
    z-index: 100;
  position: absolute;
  color: white;
    background: #000;
  font-weight: bold;
  left: 100px;
  top: 50px;
    opacity: 0.5;
}

h3 {
    font-size : 1.1em;
    text-align: center;
    color : #ede7d9;
    font-weight: 700;
}

h4 {
    font-size : 0.8em;
    text-align: center;
    color : #ede7d9;
    font-weight: 700;
}

h2 {
    color : #736b60;
}

.caption {
    padding-top : 30px;
    margin-top : 20px;
    margin-bottom : -20px;
    color : #736b60;
}

.txt-sm {
    font-size : 6px !important;
    text-align: center;
    color : #736b60;
}

.thumbnail {
    background : #736b60;
    min-height: 500px;
    image-orientation: from-image;
    padding: 30px 0;
}

.img-gallery {
    width : 100%;
    height : 100%;
}

.btn {
    margin : 0 auto;
    float: center;
}


.footer {
    color : #ede7d9;
    margin-top : -10px;
    margin-left : 10px;
}

hr {
	border-top: 3px double #8c8b8b;
}